// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
	margin: 20px 0 20px 30px;
    font-size: 25px;
}

span{
	font-family: 'arial black'

}

.body{
	margin-left: 55px;
	height: 100px;
	font-size: 13px;
}